nav {
    font-family: "Inria Sans", serif;
}
#navbarNav ul li a:hover {
  color: #BF1542;
}

#btn {
  border: 2px solid #000;
  border-radius: 5px;
  
  padding: 5px 15px 5px 15px;
  background-color: transparent;
}
#btn a {
  text-decoration: none;
  color: #000;
}
#btn:hover {
  background-color: #BF1542;
  border: none;
}
#btn a:hover {
  color: #fff;
}
#card-title a {
  text-decoration: none;
  color:rgb(81, 77, 77);
}
#card-title a:hover {
  color: #BF1542;
}

 