body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to bottom, #cb4367, #d8728d, #ebb8cb);
    display: flex;
}
.main{
    width: 350px;
    height: 500px;
    background: red; 
    overflow: hidden;
    background-image: url("../image/Form_image/form_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow:0px 20px 20px 0px #0000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 30%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    background: transparent;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button a {
    text-decoration: none;
    color: #fff;
}
button:hover{
    background: #bf1542;
    color:#fff;
    border: none;
}
#btn {
    width: 30%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #000;
    background: transparent;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: 2px solid #000;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
#btn a {
    text-decoration: none;
    color: #000;
}
#btn:hover{
    background: #bf1542;
    border: none;
} 
#btn a:hover {
    color: #fff;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #26222f;
    transform: scale(.6);
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}